<h1>Editing Prediction</h1>

<%= render 'form' %>

<div class="col-xs-12">
  <hr></hr>
  <% if can?(:create, Prediction) %>
    <%= link_to 'New prediction', new_prediction_path, class: "btn btn-primary" %> |
  <% end %>
  <%= link_to 'Back', predictions_path, class: "btn btn-primary" %>
</div>
