= form_for(@match) do |f|
  - if @match.errors.any?
    div#error_explanation
      h2 = pluralize(@match.errors.count, "error")
      | prohibited this match from being saved:

      ul
      - @match.errors.full_messages.each do |message|
        li= message

  fieldset.col-xs-6
    div.field.form-group
      = f.label :team1_id, class: "form-left"
      = f.collection_select :team1_id, @match.cup.teams.where(status: true), :id, :name, class: "form-right"
    div.field.form-group
      = f.label :team2_id, class: "form-left"
      = f.collection_select :team2_id, @match.cup.teams.where(status: true), :id, :name, class: "form-right"
    div.field.form-group
      = f.label :time, class: "form-left"
      = f.datetime_select :time, class: "form-right"
    div.field.form-group
      = f.label :status, class: "form-left"
      = f.select :status, [['Open', false], ['Closed', true]], class: "form-right"
    div.field.form-group
      = f.label :mainscore1, class: "form-left"
      = f.number_field :mainscore1, class: "form-right"
    div.field.form-group
      = f.label :mainscore2, class: "form-left"
      = f.number_field :mainscore2, class: "form-right"
    div.field.form-group
      = f.label :subscore1, class: "form-left"
      = f.number_field :subscore1, class: "form-right"
    div.field.form-group
      = f.label :subscore2, class: "form-left"
      = f.number_field :subscore2, class: "form-right"
    div.field.form-group
      = f.label :penscore1, class: "form-left"
      = f.number_field :penscore1, class: "form-right"
    div.field.form-group
      = f.label :penscore2, class: "form-left"
      = f.number_field :penscore2, class: "form-right"
    div.field.form-group
      = f.label :prior1, class: "form-left"
      = f.number_field :prior1, class: "form-right", step: 0.25
    div.field.form-group
      = f.label :prior2, class: "form-left"
      = f.number_field :prior2, class: "form-right", step: 0.25
    div.field.form-group
      = f.label :knockout, class: "form-left"
      = f.select :knockout, [['Group stage', false], ['Knockout stage', true]], class: "form-right"
    div.field.form-group
      = f.label :fee, class: "form-left"
      = f.number_field :fee, class: "form-right"
    div.field.form-group
      = f.label :special_final, class: "form-left"
      = f.check_box :special_final, class: "form-right"
    br
    div.field.form-group
      div.actions
        = f.submit 'Submit', class: "btn btn-primary form-left"
