@import "bootstrap";

@import 'shared/base';
@import 'shared/modalsearch';

.hoverable:hover {
  background-color: lightblue;
}

.prediction.btn-enabled:hover {
  background-color: lightblue;
}

#notice {
  color: lightblue;
}

#error_explanation {
  color: red;
}

.alert-error {
  color: red;
  background-color: yellow;
}
