@import "bootstrap";

@import 'shared/base';
@import 'shared/modalsearch';
@import "flag-icon-sass";

.prediction.btn-enabled:hover {
  background-color: lightblue;
}

#notice {
  color: lightblue;
}

#error_explanation {
  color: red;
}

.alert-error {
  color: red;
  background-color: yellow;
}

.user-score {
  color: red;
}

.vs-width {
  padding-left: 10px;
  padding-right: 10px;
}

.menu-logo {
  width: 75px;
  height: 50px;
  margin-top: -15px;
}

.match-name {
  min-width: 270px;
}

.not-available {
  color: grey;
}

.good-point {
  color: blue;
}

.excellent-point {
  color: red;
  background-color: lightgreen;
}

.zero-point {
  color: grey;
}

.clickable {
  cursor: pointer;
}

footer {
  .text-muted {
    text-align: center;
    display: block;
  }
}

.team-playing {
  background-color: lightgreen;
}

.team-stopped {
  background-color: red;
}
