@import "bootstrap";

@import 'shared/base';
@import 'shared/modalsearch';
@import "flag-icon-sass";

$fix-header-height: 70vh;

.prediction.btn-enabled:hover {
  background-color: lightblue;
}

#notice {
  color: lightblue;
}

#error_explanation {
  color: red;
}

.alert-error {
  color: red;
  background-color: yellow;
}

.user-score {
  color: red;
}

.vs-width {
  padding-left: 10px;
  padding-right: 10px;
}

.menu-logo {
  width: 75px;
  height: 50px;
  margin-top: -15px;
}

.match-name {
  min-width: 270px;
}

.not-available {
  color: grey;
}

.good-point {
  color: blue;
}

.clickable {
  cursor: pointer;
}

footer {
  .text-muted {
    text-align: center;
    display: block;
  }
}

.team-playing {
  background-color: lightgreen;
}

.team-stopped {
  background-color: red;
}

.div-table-content {
  height: $fix-header-height;
  overflow-y:auto;
}

table {
  height: auto !important;
  
  &.fixed-header {
    table-layout: inherit;

    tr { float: left; }

    td { overflow: hidden; }

    
    tbody {
      max-height: $fix-header-height;
      overflow-y:scroll;
      display: block;
    }

    /*bootstrap auto adjust columns' width so that we need to tie them*/
    .px300 { width: 300px !important; min-width: 300px !important; max-width: 300px !important;}
    .px200 { width: 200px !important; min-width: 200px !important; max-width: 200px !important;}
    .px100 { width: 100px !important; min-width: 100px !important; max-width: 100px !important;}
  }
}

